<h1 style="color: purple">This is The Client</h1>
<form [formGroup]="myReactForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Name: </label>
        <input type="text" formControlName="name">
    </div>
    <div>
        <label>Age: </label>
        <input type="text" formControlName="age">
    </div>
    <div>
        <label>Address: </label>
        <input type="text" formControlName="address">
    </div>
    <div>
        <label>Job: </label>
        <input type="text" formControlName="job">
    </div>
    <input type="submit" value="Send Data">
</form>
